.erd-container {
  position: relative;
  height: 650px;
  margin-bottom: 250px;
}

.erd-container svg {
  border: 1px solid #eceff1;
  border-top: 0;
}

.erd-container .label {
  font-size: 16px;
}

.erd-actions {
  background: #eceff1;
  box-sizing: content-box;
  border: 1px solid #eceff1;
  padding: 10px 15px 10px 15px;
}

.erd-actions i {
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  overflow: hidden;
  height: 30px;
  padding: 5px;
  margin-right: 15px;
  transition: .2s;
}

.erd-actions i:not(.erd-search) {
  width: 30px;
  border-radius: 50%;
}

.erd-actions i:hover:not(.erd-search) {
  background: #cfd8dc;
}

.erd-actions i:before {
  content: " ";
  display: inline-block;
  vertical-align: top;
  background-position-x: 50%;
  width: 30px;
  height: 30px;
}

i.erd-search input[type="text"] {
  display: inline-block;
  background: white;
  padding: 0 5px 0 5px;
  font-style: normal;
  vertical-align: top;
  margin-bottom: 0;
  margin-left: 10px;
  height: inherit;
}

.erd-search:before {
  background: url('../images/ic_search_black_24px.svg') 0 no-repeat;
}

.erd-label:before {
  background: url('../images/ic_label_outline_black_24px.svg') 0 no-repeat;
}

.erd-zoom:before {
  background: url('../images/ic_zoom_in_black_24px.svg') 0 no-repeat;
}

.erd-unzoom:before {
  background: url('../images/ic_zoom_out_black_24px.svg') 0 no-repeat;
}

.erd-line-style:before {
  background: url('../images/ic_timeline_black_24px.svg') 0 no-repeat;
}

.erd-machine-name:before {
  background: url('../images/ic_face_black_24px.svg') 0 no-repeat;
}

.erd-machine-name.active:before {
  background: url('../images/ic_android_black_24px.svg') 4px no-repeat;
}

.erd-save:before {
  background: url('../images/ic_save_black_24px.svg') 0 no-repeat;
}

.erd-autocomplete-category {
  padding: 5px;
  font-weight: bold;
  border-bottom: 1px solid #a8a8a8;
}

.erd-autocomplete-category ~ li .ui-state-active {
  margin: inherit;
  color: #2668b9;
  border: 0;
  background: white;
}

.erd-container .joint-type-erd:hover .remove-entity {
  display: inherit;
}

.erd-container .remove-entity {
  display: none;
  cursor: pointer;
}

.erd-container .remove-entity:hover svg {
  fill: white;
}

.erd-label-cell .label {
  cursor: text;
}

.erd-container .joint-type-erd .port {
  opacity: 0;
}

.erd-container .joint-type-erd:hover .port {
  opacity: 1;
}

.erd-container .port-left {
  cursor: w-resize;
}

.erd-container .port-right {
  cursor: e-resize;
}

.erd-container .port-top {
  cursor: n-resize;
}

.erd-container .port-bottom {
  cursor: s-resize;
}

.erd-start-prompt {
  position: absolute;
  font-size: 14px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
